
@font-face {
  font-family: 'ComicNeue-Regular';
  src: url('/fonts/ComicNeue-Regular.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LeagueSpartan-Regular';
  src: url('/fonts/LeagueSpartan-Regular.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SpaceMono-Regular';
  src: url('/fonts/SpaceMono-Regular.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LeagueSpartan-Medium';
  src: url('/fonts/LeagueSpartan-Medium.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ComicNeue-BoldItalic';
  src: url('/fonts/ComicNeue-BoldItalic.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ComicNeue-Bold';
  src: url('/fonts/ComicNeue-Bold.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ComicNeue-Italic';
  src: url('/fonts/ComicNeue-Italic.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ComicNeue-Light';
  src: url('/fonts/ComicNeue-Light.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ComicNeue-LightItalic';
  src: url('/fonts/ComicNeue-LightItalic.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LeagueSpartan-Black';
  src: url('/fonts/LeagueSpartan-Black.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LeagueSpartan-Bold';
  src: url('/fonts/LeagueSpartan-Bold.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LeagueSpartan-ExtraBold';
  src: url('/fonts/LeagueSpartan-ExtraBold.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LeagueSpartan-ExtraLight';
  src: url('/fonts/LeagueSpartan-ExtraLight.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LeagueSpartan-Light';
  src: url('/fonts/LeagueSpartan-Light.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LeagueSpartan-SemiBold';
  src: url('/fonts/LeagueSpartan-SemiBold.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LeagueSpartan-Thin';
  src: url('/fonts/LeagueSpartan-Thin.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LeagueSpartan-VariableFont_wght';
  src: url('/fonts/LeagueSpartan-VariableFont_wght.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SpaceMono-Bold';
  src: url('/fonts/SpaceMono-Bold.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SpaceMono-BoldItalic';
  src: url('/fonts/SpaceMono-BoldItalic.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SpaceMono-Italic';
  src: url('/fonts/SpaceMono-Italic.ttf') format('truetype'); /* Adjust format as needed */
  font-weight: normal;
  font-style: normal;
}
.body{
  color: white;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 6rem;
}
.linesep{ 
  background-color: #38B6FF;
  height: 8px;
  width: 12%;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}
.heading{
  font-family: "LeagueSpartan-Bold";
  text-transform: uppercase;
  font-size: 42px;
  margin-top: 1.7rem;
}
.threeboxes{
  display: flex;
  flex-direction: row;
}
.box1,.box2,.box3{
  width: 33%;
  margin-top: 2rem;
}
.box1{
  padding-right: 3rem;
  border: 0.5px;
  
}
.titles{
  color: white;
  font-size: 33px;
  text-transform: uppercase;
  font-family: "SpaceMono-Bold";
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  transition:  0.3s ease, transform 0.3s ease;
}
.titles:hover{
  color: #38B6FF;
  cursor: pointer;
}
.box2{
  padding-left: 3rem;
  border: 0.5px;
  padding-right: 3rem;
 
}
.box3{
  padding-left: 3rem;
}
.img2{
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.phntxt,.txt2,.imgtxt3{
  font-size: 20px;
  font-family: "LeagueSpartan-Regular";
  color: rgb(164, 164, 164);
}
.phone1{
  margin-right: 3rem;
}
.img3{
  display: flex;
  flex-direction: row;
  gap:3rem;
}
.ss,.ss2{
  margin-left: 4.3rem;
}
.images{
  margin-right: 3rem;
}
.content{
  font-family: "LeagueSpartan-Regular";
  margin-left: 4.3rem;
  margin-top: 2rem;
}
.subcont{
  font-family: "LeagueSpartan-Regular";
  margin-left: 4.3rem;
  margin-top: 1rem;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.bcont{
  font-family: "LeagueSpartan-Regular";
  font-size: 20px;
}
.icon{
  margin-right: 1rem;
  color: gray;
  font-size: 24px;
  transition: 0.3s ease, transform 0.3s ease;
}
.icon:hover{
  color: white;
}
.sc1:hover{
  cursor: pointer;
}
.sc2:hover{
  cursor: pointer;
}
.sc3:hover{
  cursor: pointer;
}
.sc1,.sc2,.sc3{
  font-size: 20px;
  margin-right: 0.5rem;
  position: relative;
  text-decoration: none;
}
.sc2,.sc3{
  margin-left: 0.5rem;
}

.sc1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background-color: #38B6FF;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.sc1:hover::after {
  transform: scaleX(1);
}
.sc2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background-color: #38B6FF;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.sc2:hover::after {
  transform: scaleX(1);
}
.sc3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 3px;
  background-color:#38B6FF;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.sc3:hover::after {
  transform: scaleX(1);
}
.image3{
  display: flex;
  flex-direction: row;
  gap: 3rem;
  margin-top: 8rem;
}
.miniprojects{
  margin-top: 5rem;
}
.project2,.project3{
  display: flex;
  flex-direction: row;
}
.project3{
  margin-top: 5rem;
}


.ph1,.pname,.pb1{
margin-left: 4rem;
}
.ph1{
  font-size: 18px;
  font-family: "SpaceMono-Regular";
  color: #38B6FF;
}
.pname{
  font-size: 30px;
  font-family: "LeagueSpartan-SemiBold";
}
.pb1{
  background-color: rgb(28, 28, 28);
  border-radius: 10px;
  padding: 2rem;
  width: 65%;
  font-family: "LeagueSpartan-Regular";
  box-shadow: black 1px 1px 12px 2px;
}
.rightp1 {
  position: absolute;
  margin-left: 35rem;
  transition: transform 0.5s ease-in-out,  filter 0.5s ease-in-out;
  filter: brightness(45%);
}

.rightp1:hover {
  filter: brightness(100%);
  transform: scale(1.02);
}

.freelance:hover{
  filter: brightness(100%);
  transform: scale(1.02);
}
.freelance {
  width: 630px;
  border-radius: 10px;
  transition:transform 0.5s ease-in-out, filter 0.5s ease-in-out;
}

.leftp1 {
  position: relative;
  width: 65%;

}

.rightp1:hover ~ .leftp1 {
  pointer-events: none; /* Temporarily disable interaction with leftp1 */
}
